/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
    Color Schemes
*/
/* Default, Enterprise-D */
/* Red Alert, Enterprise-A */
/*
$primaryColor  :  #eb1c23; // Pinky Red
$primaryAction :  #760e12; // Darker Red
$informational :  #b0151a; // Dark Red
$buttonsFilled :  #ff0000; // Red
$contentAccent :  #820404; // Dark Red
$contentText   :  #fff;    // White
$contentSubtext:  #ddd;    // Dim White
*/
/* Ocean Blue, Voyager */
/*
$primaryColor  :  #6598fd; // Blue
$primaryAction :  #0348fa; // Darker Pale Blue
$informational :  #2a66f8; // Deeper Blue
$buttonsFilled :  #6598fd; // Light Blue
$contentAccent :  #fe9a01; // Orange
$contentText   :  #728cfd; // Lavender
$contentSubtext:  #aeafc4; // Light Orange
*/
/* Blue/Green, Enterprise-B */
/*
$primaryColor  :  #0d42c5; // Blue
$primaryAction :  #00b9cb; // Light Teal
$informational :  #00bdd0; // Teal
$buttonsFilled :  #006cd4; // Cerulean Blue
$contentAccent :  #6ae6e3; // Seafoam
$contentText   :  #ddd;    // Dim White
$contentSubtext:  #00c847; // Green
*/
/* Grayscale */
/*
$background    :  white;
$primaryColor  :  #9f9f9f;
$primaryAction :  #7d7d7d;
$informational :  white;
$buttonsFilled :  #ddd;
$contentAccent :  #9f9f9f;
$contentText   :  #ccc;
$contentSubtext:  #aaa;
*/
/* LCARSCom.net (Hex) */
/*
$primaryColor  :  #FF9900;
$primaryAction :  #CC99CC;
$informational :  #9999CC;
$buttonsFilled :  #FF9966;
$buttonsHollow :  #FFCC99;
$contentAccent :  #9999FF;
$contentText   :  #CC6666;
$contentSubtext:  #CC6699;
*/
/* line 11, ../scss/screen.scss */
* {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none; }

/* line 16, ../scss/screen.scss */
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0); }

/* line 21, ../scss/screen.scss */
body {
  background-color: black;
  color: #dddddd;
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  font-size: 62.5%;
  /* 1em = 10px */
  margin: 0;
  padding: 0; }

/*
    Start Screen
*/
/* line 36, ../scss/screen.scss */
#West {
  float: left;
  width: 28em; }

/* line 41, ../scss/screen.scss */
#East {
  margin-left: 30em; }

/* line 46, ../scss/screen.scss */
#start {
  -webkit-box-sizing: border-box;
  padding: 3em 0 0 2em;
  position: relative; }
  /* line 51, ../scss/screen.scss */
  #start #icon {
    display: block;
    margin: 3em 0 0 1.5em;
    width: 22em; }
  /* line 57, ../scss/screen.scss */
  #start ul#series {
    list-style: none;
    margin: 4em 0 0 0.5em;
    padding: 0; }
    /* line 62, ../scss/screen.scss */
    #start ul#series li {
      background: #f58609;
      -moz-border-radius-topright: 100px;
      -webkit-border-top-right-radius: 100px;
      -o-border-top-right-radius: 100px;
      -ms-border-top-right-radius: 100px;
      -khtml-border-top-right-radius: 100px;
      border-top-right-radius: 100px;
      -moz-border-radius-bottomright: 100px;
      -webkit-border-bottom-right-radius: 100px;
      -o-border-bottom-right-radius: 100px;
      -ms-border-bottom-right-radius: 100px;
      -khtml-border-bottom-right-radius: 100px;
      border-bottom-right-radius: 100px;
      line-height: 0.7;
      margin: 0 0 2em;
      padding: 0;
      position: relative;
      width: 24em; }
      /* line 72, ../scss/screen.scss */
      #start ul#series li a {
        background-color: black;
        border-bottom: 1em solid black;
        color: #8179fb;
        display: inline-block;
        height: 3.6em;
        margin: 0 6em 0 2em;
        padding: 0 1em 0 0;
        text-align: right;
        text-decoration: none;
        width: 9.5em; }
        /* line 84, ../scss/screen.scss */
        #start ul#series li a b {
          font-size: 6em;
          letter-spacing: -1px; }
        /* line 89, ../scss/screen.scss */
        #start ul#series li a span {
          color: black;
          display: block;
          position: absolute;
          right: 8em;
          bottom: 1em;
          text-align: left; }
          /* line 97, ../scss/screen.scss */
          #start ul#series li a span b {
            font-size: 1.8em;
            letter-spacing: 0; }
    /* line 105, ../scss/screen.scss */
    #start ul#series .disabled {
      background-color: #333333; }
      /* line 108, ../scss/screen.scss */
      #start ul#series .disabled a {
        color: #6e6e6e; }

/* line 117, ../scss/screen.scss */
#lastWatched {
  /*     border-bottom: 1em solid $primaryAction; // need HR style for this */
  padding: 0 4em 4em 0.5em; }
  /* line 121, ../scss/screen.scss */
  #lastWatched figure {
    float: left;
    margin: 0 2em 4em 0;
    padding: 0; }
    /* line 126, ../scss/screen.scss */
    #lastWatched figure img {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      border: 0.2em solid #8179fb; }
  /* line 131, ../scss/screen.scss */
  #lastWatched p {
    font-size: 1.6em; }
  /* line 135, ../scss/screen.scss */
  #lastWatched h4 {
    color: white;
    font-size: 3.2em;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 10px; }
  /* line 143, ../scss/screen.scss */
  #lastWatched h4 strong {
    padding-right: 2rem; }
  /* line 147, ../scss/screen.scss */
  #lastWatched h4 span {
    color: #bab7fb;
    font-size: 80%;
    white-space: nowrap; }

/* line 156, ../scss/screen.scss */
.ruleHeading {
  background-color: #8179fb;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  display: block;
  line-height: 0.8;
  height: 2.8em;
  margin-bottom: 2em;
  margin-left: -0.5em;
  padding: 0 0 0 4em; }
  /* line 166, ../scss/screen.scss */
  .ruleHeading b {
    background-color: black;
    color: #f58609;
    font-size: 3.2em;
    letter-spacing: -1px;
    padding: 0 .16em;
    text-transform: uppercase; }

/* line 176, ../scss/screen.scss */
#southEast {
  background-color: #bab7fb;
  -moz-border-radius-topleft: 60px 50px;
  -webkit-border-top-left-radius: 60px 50px;
  -o-border-top-left-radius: 60px 50px;
  -ms-border-top-left-radius: 60px 50px;
  -khtml-border-top-left-radius: 60px 50px;
  border-top-left-radius: 60px 50px;
  padding: 2em 0 0 10em; }
  /* line 181, ../scss/screen.scss */
  #southEast .inner {
    -moz-border-radius-topleft: 30px 25px;
    -webkit-border-top-left-radius: 30px 25px;
    -o-border-top-left-radius: 30px 25px;
    -ms-border-top-left-radius: 30px 25px;
    -khtml-border-top-left-radius: 30px 25px;
    border-top-left-radius: 30px 25px;
    height: 17em;
    padding: 2em; }

/* line 188, ../scss/screen.scss */
.numberSet {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0; }
  /* line 193, ../scss/screen.scss */
  .numberSet li {
    color: #f58609;
    float: left;
    font-size: 2em;
    width: 6em; }

/*
    End Start Screen
*/
/*
    Episode View
*/
/* line 211, ../scss/screen.scss */
a {
  color: white;
  text-decoration: none; }

/* line 216, ../scss/screen.scss */
.content {
  font-family: HelveticaNeue;
  line-height: 1.4; }

/* line 221, ../scss/screen.scss */
#top {
  background-color: #f58609;
  -moz-border-radius-bottomleft: 60px 50px;
  -webkit-border-bottom-left-radius: 60px 50px;
  -o-border-bottom-left-radius: 60px 50px;
  -ms-border-bottom-left-radius: 60px 50px;
  -khtml-border-bottom-left-radius: 60px 50px;
  border-bottom-left-radius: 60px 50px;
  margin-bottom: 1em;
  padding: 0 0 2em 10em; }

/* line 228, ../scss/screen.scss */
#bottom {
  background-color: #f58609;
  -moz-border-radius-topleft: 60px 50px;
  -webkit-border-top-left-radius: 60px 50px;
  -o-border-top-left-radius: 60px 50px;
  -ms-border-top-left-radius: 60px 50px;
  -khtml-border-top-left-radius: 60px 50px;
  border-top-left-radius: 60px 50px;
  padding: 2em 0 0 10em; }

/* line 234, ../scss/screen.scss */
.inner {
  background-color: black;
  padding: 20px;
  position: relative; }
  /* line 239, ../scss/screen.scss */
  .inner > .separator {
    background-color: black;
    display: block;
    height: 20px;
    position: absolute;
    bottom: -20px;
    left: 100px;
    width: 1em; }

/* line 250, ../scss/screen.scss */
#bottom .separator {
  top: -20px;
  bottom: auto; }

/* line 254, ../scss/screen.scss */
.separator.right {
  left: auto;
  right: 35px; }

/* line 259, ../scss/screen.scss */
.sweepButton {
  background-color: #8179fb;
  border: 1em solid black;
  color: black;
  display: block;
  position: absolute;
  text-align: right;
  width: 8em; }
  /* line 268, ../scss/screen.scss */
  .sweepButton b {
    font-size: 1.6em; }
  /* line 272, ../scss/screen.scss */
  .sweepButton.horz {
    height: 2em;
    padding: 0 1em; }
  /* line 276, ../scss/screen.scss */
  .sweepButton.vert {
    height: 1em;
    line-height: 0.3;
    padding: 4em 1em 1em; }
  /* line 281, ../scss/screen.scss */
  .sweepButton.sweepHeading {
    background-color: black;
    border-width: 10px 6px 10px 5px;
    color: white;
    height: 20px;
    letter-spacing: -1px;
    line-height: 0.8;
    padding: 0;
    text-transform: uppercase;
    width: auto; }
    /* line 292, ../scss/screen.scss */
    .sweepButton.sweepHeading b {
      font-size: 2.5em; }
  /* line 296, ../scss/screen.scss */
  .sweepButton:active {
    background-color: #5247fa; }

/* line 301, ../scss/screen.scss */
#scrollIntoView {
  background-color: #c46b07;
  border-width: 1em 1em 1.2em;
  height: 1.6em;
  top: -30px;
  left: 100px;
  width: 366px; }
  /* line 309, ../scss/screen.scss */
  #scrollIntoView:active {
    background-color: #935005; }

/* line 314, ../scss/screen.scss */
#playCount {
  top: -30px;
  right: 230px;
  pointer-events: none; }

/* line 320, ../scss/screen.scss */
#back {
  height: 40px;
  line-height: 1;
  padding: 10px;
  top: 30px;
  left: -110px; }

/* line 328, ../scss/screen.scss */
#random {
  bottom: -30px;
  right: 35px;
  /*
          :after {
            color: red;
            content: "#{$background}"; // Niiiiiiiice
            display: block;
            font-size: 1.6em;
            position: relative;
              top: 0px;
              left: 0px;
            z-index: 99;
          }
  */ }

/* line 346, ../scss/screen.scss */
#episodeNumber {
  /*         background-color: $informational; */
  background-color: transparent;
  bottom: -60px;
  right: 35px; }
  /* line 352, ../scss/screen.scss */
  #episodeNumber:active {
    background-color: #9c61a9; }

/* line 357, ../scss/screen.scss */
#previous {
  top: 270px;
  left: -110px; }

/* line 362, ../scss/screen.scss */
#next {
  height: 80px;
  line-height: 1;
  padding: 10px;
  top: 340px;
  left: -110px; }

/* line 370, ../scss/screen.scss */
#episodeNav {
  /*         background-color: $informational; */
  background-color: transparent;
  border-top: 0;
  color: black;
  top: 210px;
  left: -110px; }
  /* line 378, ../scss/screen.scss */
  #episodeNav:active {
    background-color: #9c61a9; }

/* line 383, ../scss/screen.scss */
#top .inner {
  -moz-border-radius-bottomleft: 30px 25px;
  -webkit-border-bottom-left-radius: 30px 25px;
  -o-border-bottom-left-radius: 30px 25px;
  -ms-border-bottom-left-radius: 30px 25px;
  -khtml-border-bottom-left-radius: 30px 25px;
  border-bottom-left-radius: 30px 25px;
  padding-top: 2em; }
  /* line 387, ../scss/screen.scss */
  #top .inner h1 {
    font-size: 3.2em; }

/* line 392, ../scss/screen.scss */
#bottom .inner {
  -moz-border-radius-topleft: 30px 25px;
  -webkit-border-top-left-radius: 30px 25px;
  -o-border-top-left-radius: 30px 25px;
  -ms-border-top-left-radius: 30px 25px;
  -khtml-border-top-left-radius: 30px 25px;
  border-top-left-radius: 30px 25px;
  padding-bottom: 0; }

/* line 397, ../scss/screen.scss */
#characters {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 402, ../scss/screen.scss */
  #characters li {
    float: left; }
  /* line 406, ../scss/screen.scss */
  #characters li a {
    background-color: #f8b462;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    color: black;
    display: block;
    margin: 0 0.6em 0.6em 0;
    padding: 0.2em 1em 0.2em 1em;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    width: 7em; }
    /* line 418, ../scss/screen.scss */
    #characters li a .pipe {
      border-left: 0.3em solid black;
      height: 3em;
      position: absolute;
      top: 0;
      left: 1.4em; }
    /* line 426, ../scss/screen.scss */
    #characters li a b {
      font-size: 1.6em; }

/* line 436, ../scss/screen.scss */
#search {
  position: absolute;
  top: 20px;
  right: 20px; }

/* line 441, ../scss/screen.scss */
#searchInput {
  -webkit-appearance: none;
  background-color: black;
  border: 2px solid #bab7fb;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  color: white;
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  padding: 5px;
  text-align: right;
  width: 160px; }

/* line 453, ../scss/screen.scss */
hr {
  background-color: #bab7fb;
  border-color: #bab7fb;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  border: 0;
  color: #bab7fb;
  line-height: 1;
  height: 1px; }

/*
    Episode Page
*/
/* line 469, ../scss/screen.scss */
article {
  -moz-border-radius-topleft: 15px 12px;
  -webkit-border-top-left-radius: 15px 12px;
  -o-border-top-left-radius: 15px 12px;
  -ms-border-top-left-radius: 15px 12px;
  -khtml-border-top-left-radius: 15px 12px;
  border-top-left-radius: 15px 12px;
  height: 550px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* line 476, ../scss/screen.scss */
article .content {
  color: white;
  padding-right: 4em; }

/* line 481, ../scss/screen.scss */
article .content > p {
  font-size: 1.6em; }

/* line 485, ../scss/screen.scss */
article h1 {
  color: white;
  font-size: 3.2em;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 10px; }

/* line 493, ../scss/screen.scss */
article h1 strong {
  padding-right: 2rem; }

/* line 497, ../scss/screen.scss */
article h1 span {
  color: #bab7fb;
  font-size: 80%;
  text-transform: uppercase;
  white-space: nowrap; }

/* line 504, ../scss/screen.scss */
article h2 {
  font-size: 2.4em; }

/* line 508, ../scss/screen.scss */
article h4 {
  font-size: 1.6em; }

/* line 512, ../scss/screen.scss */
.teaser:before {
  color: #bab7fb;
  content: "Teaser: ";
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  text-transform: uppercase; }

/* line 519, ../scss/screen.scss */
.plotSummary:before {
  color: #bab7fb;
  content: "Plot Summary: ";
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  text-transform: uppercase; }

/* line 526, ../scss/screen.scss */
#quotes {
  color: #bab7fb;
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  overflow-x: hidden;
  padding-bottom: 0.8em;
  position: relative; }

/* line 533, ../scss/screen.scss */
#quotes:before {
  color: #bab7fb;
  content: "Quotes: ";
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  font-size: 1.6em;
  line-height: 1.8;
  text-transform: uppercase; }

/* line 542, ../scss/screen.scss */
#quotes blockquote {
  margin: 0;
  width: 2494px; }

/* line 547, ../scss/screen.scss */
#quotes p {
  display: block;
  float: left;
  letter-spacing: -1px;
  margin: 2.4em 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 4em;
  width: 46.4em; }
  /* line 557, ../scss/screen.scss */
  #quotes p span {
    font-size: 2.4em; }

/* line 561, ../scss/screen.scss */
#quotes p:first-child {
  text-indent: -0.35em; }

/* Experimenting with generated quotes */
/* line 566, ../scss/screen.scss */
#quotes p:first-child span:before {
  content: "\201C"; }

/* line 569, ../scss/screen.scss */
#quotes p:last-child cite:before {
  content: "\201D";
  font-size: 1.25em;
  font-style: normal; }

/* line 576, ../scss/screen.scss */
#quotes cite {
  font-size: 0.8em; }

/* line 580, ../scss/screen.scss */
.tags {
  -webkit-user-select: none; }

/* line 584, ../scss/screen.scss */
.tags:before {
  color: #bab7fb;
  content: "Tags: ";
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  text-transform: uppercase; }

/* line 590, ../scss/screen.scss */
.tags span {
  color: #dddddd;
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  padding: 0 4px 0 8px;
  text-transform: uppercase;
  white-space: nowrap; }

/* line 597, ../scss/screen.scss */
.tags span:after {
  content: ', ';
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  text-transform: uppercase; }

/* line 602, ../scss/screen.scss */
.tags span:last-child:after {
  content: ''; }

/* line 607, ../scss/screen.scss */
.tags span:hover,
.tags span:focus,
.tags span:active {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  background-color: #bab7fb;
  color: black;
  cursor: pointer;
  padding: 0 8px; }

/* line 614, ../scss/screen.scss */
.tags span:hover:after {
  content: ''; }

/* line 618, ../scss/screen.scss */
article aside {
  float: right;
  margin: 0 0 50px 40px;
  width: 300px; }

/* line 624, ../scss/screen.scss */
article aside h4 {
  color: #bab7fb;
  margin: 0;
  text-transform: uppercase; }

/* line 630, ../scss/screen.scss */
#rating {
  margin: 10px 0 0; }

/* line 634, ../scss/screen.scss */
#rating #myrating {
  float: left;
  width: 50%; }

/* line 639, ../scss/screen.scss */
#rating #avgrating {
  margin-left: 50%; }

/* line 643, ../scss/screen.scss */
#rating p {
  font-size: 2.4em;
  margin: 0 0 1em; }

/*
.pips span {
    background-color: transparent;
    border: 2px solid #555;
    @include border-radius(100px);
    display: block;
    float: left;
    height: 18px;
    margin: 8px 2px 0 0;
    width: 18px;
}
    .pips span.filled {
        background: rgba(221,221,221,0.75);
        @include single-box-shadow(#fff, 0, 1px, 0, 0, inset);
    }
*/
/* line 667, ../scss/screen.scss */
article aside img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

/* line 671, ../scss/screen.scss */
article aside figure {
  margin: 1.4em 0 0.2em; }

/* line 675, ../scss/screen.scss */
article aside figure img {
  border: 0.2em solid #8179fb;
  max-width: 100%; }

/* line 680, ../scss/screen.scss */
#thumbs {
  margin: 0 0 2em 0; }

/* line 685, ../scss/screen.scss */
#thumbs ul,
#thumbs li {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 691, ../scss/screen.scss */
#thumbs li {
  float: left; }

/* line 695, ../scss/screen.scss */
#thumbs li a {
  display: block;
  margin-right: 0.4em; }

/* line 700, ../scss/screen.scss */
#thumbs li a img {
  border: 0.2em solid #8179fb;
  height: 92px;
  width: 92px; }

/* line 706, ../scss/screen.scss */
#meta {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 20px 10px 0 20px;
  text-indent: -20px; }

/* line 713, ../scss/screen.scss */
#meta li {
  font-size: 1.6em;
  margin-bottom: 0.4em; }

/* line 718, ../scss/screen.scss */
#social {
  list-style: none;
  margin: 0 0 2em;
  padding: 1em 0 80px; }

/* line 723, ../scss/screen.scss */
#social li {
  float: right; }

/* line 726, ../scss/screen.scss */
#social li a {
  background-color: transparent;
  border: 2px solid #bab7fb;
  color: #bab7fb;
  display: block;
  margin: 0 4px 10px 0;
  padding: 4px 12px 4px 4px;
  text-align: right;
  text-transform: uppercase;
  width: 100px; }
  /* line 737, ../scss/screen.scss */
  #social li a b {
    font-size: 1.6em; }

/* line 741, ../scss/screen.scss */
#social li:first-child a {
  -moz-border-radius-bottomright: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -o-border-bottom-right-radius: 100px;
  -ms-border-bottom-right-radius: 100px;
  -khtml-border-bottom-right-radius: 100px;
  border-bottom-right-radius: 100px;
  -moz-border-radius-topright: 100px;
  -webkit-border-top-right-radius: 100px;
  -o-border-top-right-radius: 100px;
  -ms-border-top-right-radius: 100px;
  -khtml-border-top-right-radius: 100px;
  border-top-right-radius: 100px; }

/* line 745, ../scss/screen.scss */
#social li:last-child a {
  -moz-border-radius-bottomleft: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -o-border-bottom-left-radius: 100px;
  -ms-border-bottom-left-radius: 100px;
  -khtml-border-bottom-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -moz-border-radius-topleft: 100px;
  -webkit-border-top-left-radius: 100px;
  -o-border-top-left-radius: 100px;
  -ms-border-top-left-radius: 100px;
  -khtml-border-top-left-radius: 100px;
  border-top-left-radius: 100px; }

/*
    Grid view
*/
/* line 756, ../scss/screen.scss */
#grid th {
  background-color: rgba(186, 183, 251, 0.2);
  border: 1px solid white;
  border-width: 0 1px 1px 0;
  padding: 10px 10px;
  text-transform: uppercase; }

/* line 764, ../scss/screen.scss */
#grid b, #grid td {
  font-size: 1.6em; }

/* line 768, ../scss/screen.scss */
#grid #number {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  width: 24px; }

/* line 772, ../scss/screen.scss */
#grid #sceneTitle {
  width: 200px; }

/* line 775, ../scss/screen.scss */
#grid #desc {
  width: 486px; }

/* line 778, ../scss/screen.scss */
#grid #ratingHeader {
  width: 80px; }

/* line 782, ../scss/screen.scss */
#grid .seasonHeader td {
  background-color: rgba(186, 183, 251, 0.18);
  padding: 3px 10px;
  text-transform: uppercase;
  width: 874px; }

/* line 789, ../scss/screen.scss */
#grid tr {
  display: block;
  position: relative; }

/* line 794, ../scss/screen.scss */
#grid tbody {
  display: block;
  height: 519px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%; }

/* line 802, ../scss/screen.scss */
#grid td {
  border: 1px solid white;
  border-width: 0 1px 1px 0;
  padding: 10px 10px 0; }

/* line 808, ../scss/screen.scss */
#grid .number em {
  background-color: #bab7fb;
  -moz-border-radius-topleft: 100px;
  -webkit-border-top-left-radius: 100px;
  -o-border-top-left-radius: 100px;
  -ms-border-top-left-radius: 100px;
  -khtml-border-top-left-radius: 100px;
  border-top-left-radius: 100px;
  -moz-border-radius-bottomleft: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -o-border-bottom-left-radius: 100px;
  -ms-border-bottom-left-radius: 100px;
  -khtml-border-bottom-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: block;
  font-style: normal;
  height: 2em;
  line-height: 1;
  width: 4em; }

/*
#grid tr:hover .number,
#grid tr:active .number {
    background-color: rgba(186,183,251,0.5);
}
*/
/* line 824, ../scss/screen.scss */
#grid tr:hover {
  cursor: pointer; }

/* line 828, ../scss/screen.scss */
#grid .sceneTitle {
  padding-bottom: 20px; }

/* line 832, ../scss/screen.scss */
#grid p {
  margin: 0 0 1em; }

/*
    Grid 2
*/
/* line 842, ../scss/screen.scss */
#grid2 b, #grid2 td {
  font-size: 2.5em;
  line-height: 1.5; }

/* line 847, ../scss/screen.scss */
h3 b {
  color: #dddddd;
  font-size: 2.1em;
  letter-spacing: -1px;
  padding-left: 7.6em;
  text-transform: uppercase; }

/* line 855, ../scss/screen.scss */
#grid2 {
  height: 519px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  /* line 860, ../scss/screen.scss */
  #grid2 .season {
    border-left: 1.5em solid #b182bb;
    -moz-border-radius-topleft: 100px;
    -webkit-border-top-left-radius: 100px;
    -o-border-top-left-radius: 100px;
    -ms-border-top-left-radius: 100px;
    -khtml-border-top-left-radius: 100px;
    border-top-left-radius: 100px;
    -moz-border-radius-bottomleft: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -o-border-bottom-left-radius: 100px;
    -ms-border-bottom-left-radius: 100px;
    -khtml-border-bottom-left-radius: 100px;
    border-bottom-left-radius: 100px;
    color: #8179fb;
    padding: 0 0.4em; }
  /* line 867, ../scss/screen.scss */
  #grid2 .episode {
    color: #bab7fb;
    padding: 0 1em 0 0.4em; }
  /* line 871, ../scss/screen.scss */
  #grid2 .episodeName {
    padding: 0 1em 0 0.4em;
    width: 21em; }

/*
    Responsive
*/
@media all and (orientation:portrait) {
  /* line 884, ../scss/screen.scss */
  .landscape {
    display: none; }

  /* line 886, ../scss/screen.scss */
  body {
    height: 1024px;
    width: 768px; }

  /* line 892, ../scss/screen.scss */
  #bottom,
  #top {
    margin-left: 0; }

  /* line 896, ../scss/screen.scss */
  article {
    height: 770px; }

  /* line 900, ../scss/screen.scss */
  #quotes p {
    margin: 0.5em 0;
    padding: 0 20px;
    width: 248px; }

  /* line 906, ../scss/screen.scss */
  #social li a {
    margin: 0 4px 10px 0;
    padding: 4px 8px 4px 4px;
    text-align: right;
    text-transform: uppercase;
    width: 100px; }

  /* line 914, ../scss/screen.scss */
  #grid2 {
    height: 700px; }
    /* line 917, ../scss/screen.scss */
    #grid2 .season {
      padding: 0 0.3em; }
    /* line 920, ../scss/screen.scss */
    #grid2 .episode {
      padding: 0 0.5em 0 0.3em; }
    /* line 923, ../scss/screen.scss */
    #grid2 .episodeName {
      padding: 0 1em 0 0.3em;
      width: 18em; } }
@media all and (orientation:landscape) {
  /* line 930, ../scss/screen.scss */
  .portrait {
    display: none; }

  /* line 932, ../scss/screen.scss */
  body {
    height: 768px;
    width: 1024px; }

  /* line 938, ../scss/screen.scss */
  #bottom,
  #top {
    margin-left: 0; } }
/* iPhone, portrait and landscape */
@media only screen and (max-device-width: 480px) {
  /* line 948, ../scss/screen.scss */
  body {
    background-color: black;
    /*         font-size: .25em; */
    height: 100%;
    width: 100%; }

  /* line 954, ../scss/screen.scss */
  #top {
    background-color: black;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -o-border-bottom-left-radius: 0;
    -ms-border-bottom-left-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    padding: 0; }
    /* line 960, ../scss/screen.scss */
    #top .inner {
      padding: 0 0 1.1em; }
      /* line 962, ../scss/screen.scss */
      #top .inner * {
        display: none; }
      /* line 966, ../scss/screen.scss */
      #top .inner nav,
      #top .inner nav back {
        display: block; }
      /* line 970, ../scss/screen.scss */
      #top .inner .separator {
        background-color: #bab7fb;
        -moz-border-radius: 10em;
        -webkit-border-radius: 10em;
        -o-border-radius: 10em;
        -ms-border-radius: 10em;
        -khtml-border-radius: 10em;
        border-radius: 10em;
        display: block;
        height: 1em;
        opacity: 0.8;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: auto;
        width: 100%; }
      /* line 984, ../scss/screen.scss */
      #top .inner .separatorL,
      #top .inner .separatorR {
        background-color: black;
        display: block;
        height: 1em;
        position: absolute;
        top: 0;
        left: 1em;
        width: 0.5em; }
      /* line 993, ../scss/screen.scss */
      #top .inner .separatorR {
        left: auto;
        right: 1em; }

  /* line 1000, ../scss/screen.scss */
  #bottom {
    background-color: black;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -o-border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    padding: 0;
    position: relative; }
    /* line 1007, ../scss/screen.scss */
    #bottom .inner nav {
      display: none; }
    /* line 1011, ../scss/screen.scss */
    #bottom .separatorBottom {
      background-color: #bab7fb;
      -moz-border-radius: 10em;
      -webkit-border-radius: 10em;
      -o-border-radius: 10em;
      -ms-border-radius: 10em;
      -khtml-border-radius: 10em;
      border-radius: 10em;
      display: block;
      height: 1em;
      margin: 1px 0 0;
      opacity: 0.8;
      width: 100%; }
    /* line 1021, ../scss/screen.scss */
    #bottom .separatorL,
    #bottom .separatorR {
      background-color: black;
      display: block;
      height: 1em;
      position: absolute;
      top: auto;
      bottom: 0;
      left: 1em;
      width: 0.5em; }
    /* line 1031, ../scss/screen.scss */
    #bottom .separatorR {
      left: auto;
      right: 1em; }

  /* line 1037, ../scss/screen.scss */
  .inner {
    background-color: black;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -o-border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0;
    position: relative; }

  /* line 1044, ../scss/screen.scss */
  #playCount {
    top: -3em;
    right: 1em;
    pointer-events: none; }

  /* line 1050, ../scss/screen.scss */
  article {
    height: 438px;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 1em;
    position: relative; }

  /* line 1059, ../scss/screen.scss */
  article header h1 {
    padding-left: .45em;
    text-indent: -0.45em; }
    /* line 1062, ../scss/screen.scss */
    article header h1 strong {
      padding-right: 0; }
    /* line 1066, ../scss/screen.scss */
    article header h1 span {
      display: block;
      padding-top: .4em; }
  /* line 1073, ../scss/screen.scss */
  article aside {
    margin: 0 0 2em 1em;
    width: 48%; }
    /* line 1077, ../scss/screen.scss */
    article aside * {
      display: none; }
    /* line 1082, ../scss/screen.scss */
    article aside figure,
    article aside figure img {
      display: block !important; }
    /* line 1085, ../scss/screen.scss */
    article aside.clicked {
      margin-left: 0;
      width: 100%; }
    /* line 1089, ../scss/screen.scss */
    article aside.clicked figure img {
      width: 100%; }

  /* line 1094, ../scss/screen.scss */
  article .content {
    color: white;
    padding-right: 5px; }

  /* line 1098, ../scss/screen.scss */
  #quotes p:first-child {
    text-indent: -1em; }

  /* line 1102, ../scss/screen.scss */
  #social {
    list-style: none;
    margin: 0 0 2em;
    padding: 1em 0 3em; }

  /* line 1107, ../scss/screen.scss */
  #social li {
    float: right; }

  /* line 1110, ../scss/screen.scss */
  #social li a {
    background-color: transparent;
    border: 2px solid #bab7fb;
    color: #bab7fb;
    display: block;
    margin: 0 4px 10px 0;
    padding: 4px 8px;
    text-align: right;
    text-transform: uppercase;
    width: 5.1em; }
    /* line 1121, ../scss/screen.scss */
    #social li a b {
      font-size: 1.2em; }

  /* line 1125, ../scss/screen.scss */
  #social li:first-child a {
    -moz-border-radius-bottomright: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -o-border-bottom-right-radius: 100px;
    -ms-border-bottom-right-radius: 100px;
    -khtml-border-bottom-right-radius: 100px;
    border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -webkit-border-top-right-radius: 100px;
    -o-border-top-right-radius: 100px;
    -ms-border-top-right-radius: 100px;
    -khtml-border-top-right-radius: 100px;
    border-top-right-radius: 100px; }

  /* line 1129, ../scss/screen.scss */
  #social li:last-child a {
    -moz-border-radius-bottomleft: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -o-border-bottom-left-radius: 100px;
    -ms-border-bottom-left-radius: 100px;
    -khtml-border-bottom-left-radius: 100px;
    border-bottom-left-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -webkit-border-top-left-radius: 100px;
    -o-border-top-left-radius: 100px;
    -ms-border-top-left-radius: 100px;
    -khtml-border-top-left-radius: 100px;
    border-top-left-radius: 100px; } }
/* iPhone, landscape */
@media only screen and (max-device-width: 480px) and (orientation:landscape) {
  /* line 1140, ../scss/screen.scss */
  article {
    height: 278px; } }
