/*
    Color Schemes
*/
/* Default, Enterprise-D */
/* Red Alert, Enterprise-A */
/*
$primaryColor  :  #eb1c23; // Pinky Red
$primaryAction :  #760e12; // Darker Red
$informational :  #b0151a; // Dark Red
$buttonsFilled :  #ff0000; // Red
$contentAccent :  #820404; // Dark Red
$contentText   :  #fff;    // White
$contentSubtext:  #ddd;    // Dim White
*/
/* Ocean Blue, Voyager */
/*
$primaryColor  :  #6598fd; // Blue
$primaryAction :  #0348fa; // Darker Pale Blue
$informational :  #2a66f8; // Deeper Blue
$buttonsFilled :  #6598fd; // Light Blue
$contentAccent :  #fe9a01; // Orange
$contentText   :  #728cfd; // Lavender
$contentSubtext:  #aeafc4; // Light Orange
*/
/* Blue/Green, Enterprise-B */
/*
$primaryColor  :  #0d42c5; // Blue
$primaryAction :  #00b9cb; // Light Teal
$informational :  #00bdd0; // Teal
$buttonsFilled :  #006cd4; // Cerulean Blue
$contentAccent :  #6ae6e3; // Seafoam
$contentText   :  #ddd;    // Dim White
$contentSubtext:  #00c847; // Green
*/
/* Grayscale */
/*
$background    :  white;
$primaryColor  :  #9f9f9f;
$primaryAction :  #7d7d7d;
$informational :  white;
$buttonsFilled :  #ddd;
$contentAccent :  #9f9f9f;
$contentText   :  #ccc;
$contentSubtext:  #aaa;
*/
/* LCARSCom.net (Hex) */
/*
$primaryColor  :  #FF9900;
$primaryAction :  #CC99CC;
$informational :  #9999CC;
$buttonsFilled :  #FF9966;
$buttonsHollow :  #FFCC99;
$contentAccent :  #9999FF;
$contentText   :  #CC6666;
$contentSubtext:  #CC6699;
*/
/* Show color values inside buttons */
/*
    :after {
      color: red;
      content: "#{$background}";
      display: block;
      font-size: 1.6em;
      position: relative;
        top: 0px;
        left: 0px;
      z-index: 99;
    }
*/
/*
    Splash Screen
*/
/* line 10, ../scss/splash.scss */
body {
  background-color: black;
  color: #dddddd;
  font-family: "HelveticaNeue-CondensedBold",HelveticaNeue;
  font-size: 62.5%;
  /* 1em = 10px */
  margin: 0 4em;
  padding: 3em; }

/* line 19, ../scss/splash.scss */
#top, #bottom {
  position: relative; }
  /* line 22, ../scss/splash.scss */
  #top hr, #bottom hr {
    /*     background-color: #acaff7; */
    background-color: #bab7fb;
    border-color: #bab7fb;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    border: 0;
    color: #bab7fb;
    line-height: 1;
    height: 2.5em; }
  /* line 33, ../scss/splash.scss */
  #top #status, #bottom #status {
    background-color: black;
    border: solid black;
    border-width: 0 0.5em;
    color: #f58609;
    letter-spacing: -2px;
    line-height: 1;
    position: absolute;
    top: -1.5em;
    left: 2em;
    text-transform: uppercase; }
    /* line 45, ../scss/splash.scss */
    #top #status b, #bottom #status b {
      font-size: 3.4em; }

/* line 51, ../scss/splash.scss */
.endcaps {
  background-color: #f58609;
  border: 1em solid black;
  height: 2.5em;
  position: absolute;
  top: -1em;
  width: 2em; }
  /* line 59, ../scss/splash.scss */
  .endcaps.left {
    -moz-border-radius-topleft: 10em;
    -webkit-border-top-left-radius: 10em;
    -o-border-top-left-radius: 10em;
    -ms-border-top-left-radius: 10em;
    -khtml-border-top-left-radius: 10em;
    border-top-left-radius: 10em;
    -moz-border-radius-bottomleft: 10em;
    -webkit-border-bottom-left-radius: 10em;
    -o-border-bottom-left-radius: 10em;
    -ms-border-bottom-left-radius: 10em;
    -khtml-border-bottom-left-radius: 10em;
    border-bottom-left-radius: 10em;
    left: -1em; }
  /* line 65, ../scss/splash.scss */
  .endcaps.right {
    -moz-border-radius-topright: 10em;
    -webkit-border-top-right-radius: 10em;
    -o-border-top-right-radius: 10em;
    -ms-border-top-right-radius: 10em;
    -khtml-border-top-right-radius: 10em;
    border-top-right-radius: 10em;
    -moz-border-radius-bottomright: 10em;
    -webkit-border-bottom-right-radius: 10em;
    -o-border-bottom-right-radius: 10em;
    -ms-border-bottom-right-radius: 10em;
    -khtml-border-bottom-right-radius: 10em;
    border-bottom-right-radius: 10em;
    right: -1em; }

/* line 72, ../scss/splash.scss */
#communique {
  text-align: center;
  text-transform: uppercase; }
  /* line 76, ../scss/splash.scss */
  #communique h1 {
    color: #f58609;
    font-size: 6em;
    letter-spacing: -2px;
    margin: 0; }
  /* line 82, ../scss/splash.scss */
  #communique h3 {
    color: #bab7fb;
    font-size: 3em; }
