/*
    Grid view, iPad
*/

#grid td {
    font-size: 2.5em;
    line-height: 1.5;
}

h3 b {
    color: $contentSubtext;
    font-size: 2.1em;
    letter-spacing: -1px;
    padding-left: 7.6em;
    text-transform: uppercase;
}

#navBar {
    display: none;
}

#grid {
    padding-bottom: 6em;
    .season {
        border-left: 1.5em solid $informational;
        @include border-top-left-radius(100px);
        @include border-bottom-left-radius(100px);
        color: $primaryAction;
        padding: 0 0.4em;
    }
    .episode {
        color: $contentAccent;
        padding: 0 1em 0 0.4em;
    }
    .episodeName {
        padding: 0 1em 0 0.4em;
        width: 21em;
    }
}
