/*
    Fonts
*/

//@font-face {
//  font-family: 'HelveticaNeueRegular';
//  src: url('../fonts/HelveticaNeue.eot');
//  src: local('Helvetica Neue Bold'), local('HelveticaNeue'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCondensedBold';
//  src: url('../fonts/HelveticaNeue-CondensedBold.eot');
//  src: local('HelveticaNeue-CondensedBold'), local('HelveticaNeue-CondensedBold'), url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
//}
//
//$font: HelveticaNeue;
$font: "HelveticaNeueCondensedBold","HelveticaNeue-CondensedBold",HelveticaNeue;
//$font : "Helvetica LT Std","HelveticaNeue-CondensedBold",HelveticaNeue; Can I try @font-face?



/*
    Color Schemes
*/

$background    :  black;

/* Default, Enterprise-D */
$primaryColor  :  #F58609; // Orange
$primaryAction :  #8179FB; // Purple
$informational :  #B182BB; // Pink
$buttonsFilled :  #F8B462; // Lite Orange
$buttonsHollow :  #BAB7FB; // Lite Purple
$contentAccent :  #BAB7FB; // Lite Purple
$contentText   :  #fff;    // White
$contentSubtext:  #ddd;    // Dim White

/* Red Alert, Enterprise-A */
/*
$primaryColor  :  #eb1c23; // Pinky Red
$primaryAction :  #760e12; // Darker Red
$informational :  #b0151a; // Dark Red
$buttonsFilled :  #ff0000; // Red
$contentAccent :  #820404; // Dark Red
$contentText   :  #fff;    // White
$contentSubtext:  #ddd;    // Dim White
*/

/* Ocean Blue, Voyager */
/*
$primaryColor  :  #6598fd; // Blue
$primaryAction :  #0348fa; // Darker Pale Blue
$informational :  #2a66f8; // Deeper Blue
$buttonsFilled :  #6598fd; // Light Blue
$contentAccent :  #fe9a01; // Orange
$contentText   :  #728cfd; // Lavender
$contentSubtext:  #aeafc4; // Light Orange
*/

/* Blue/Green, Enterprise-B */
/*
$primaryColor  :  #0d42c5; // Blue
$primaryAction :  #00b9cb; // Light Teal
$informational :  #00bdd0; // Teal
$buttonsFilled :  #006cd4; // Cerulean Blue
$contentAccent :  #6ae6e3; // Seafoam
$contentText   :  #ddd;    // Dim White
$contentSubtext:  #00c847; // Green
*/

/* Grayscale */
/*
$background    :  white;
$primaryColor  :  #9f9f9f;
$primaryAction :  #7d7d7d;
$informational :  white;
$buttonsFilled :  #ddd;
$contentAccent :  #9f9f9f;
$contentText   :  #ccc;
$contentSubtext:  #aaa;
*/

/* LCARSCom.net (Hex) */
/*
$primaryColor  :  #FF9900;
$primaryAction :  #CC99CC;
$informational :  #9999CC;
$buttonsFilled :  #FF9966;
$buttonsHollow :  #FFCC99;
$contentAccent :  #9999FF;
$contentText   :  #CC6666;
$contentSubtext:  #CC6699;
*/

/* Show color values inside buttons */
/*
    :after {
      color: red;
      content: "#{$background}";
      display: block;
      font-size: 1.6em;
      position: relative;
        top: 0px;
        left: 0px;
      z-index: 99;
    }
*/
